# DEVELOPMENT ONLY!
# do not use this in production!
# changing files within the container will not restart the app
# gem listen is the issue with containers
version: '2'
services:
  mariadb:
    image: mariadb:10
    environment:
      - MYSQL_ROOT_PASSWORD=narfz0rt

  redis:
    image: redis:3-alpine
    command: ["redis-server", "--requirepass", "foobar"]

  cafmal-api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mariadb
    links:
      - "mariadb:mysql"
    environment:
      - RACK_ENV=development
      - SECRET_KEY_BASE=bd43a0b6c77911978dfcf2d13b7467asdasdasd602c45abd612ebb2d8as9b7f8a244730def09a5c70573a3dbea6387248ec100aa2ae244730def0673707696f13e5e
